* {
    margin: 0;
    padding: 0;
}
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  body {
    margin: 0;
  }
  

  
  main {
    display: block;
  }
  

  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  

  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  

  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  button,
  input { /* 1 */
    overflow: visible;
  }
  button,
  select { /* 1 */
    text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

.content-collapse {
    left: 65px;
}

.container {
    border-radius: 5px;
    background-color: #fff;
    margin: 0 15px 15px;
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.pagination {
    margin: 20px 0 0;
    text-align: right;
}
.operation-icon i {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    transition: all 0.3s;
    color: #556A85;
  }
  .operation-icon i.iconfont::before{
    color: #1C95FF;
  }
  .iconfont {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .iconfont::before {
    font-family: 'iconfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-12px{
      font-size: 12px;
  }
  .icon-13px{
      font-size: 13px;
  }
  .icon-14px{
      font-size: 14px;
  }
  .el-button i.iconfont{
    font-size: 12px;
    margin-right: 3px;
  }
  .el-button.iconfont{
    font-size: 12px;
  }
  .el-button.iconfont::before{
   margin-right: 3px; 
  }
  .operation-icon i{
      font-style: normal;
      color: #2696FF;
      font-size: 12px;
      font-family: MicrosoftYaHei;
  }
  .operation-icon i:hover{
      color: #449eec;
  }
  .operation-icon i::before {
    margin-right: 7px;
  }
  
  .operation-icon i:last-child {
    margin-right: 0;
  }
  .operation-icon i:hover,
  .operation-icon i a:hover {
    color: #1C95FF;
  }
  .operation-icon i a {
    color: #556A85;
  }
  .el-menu-item [class^="iconfont"] {
    margin-right: 7px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
}
.container-tablebar{
    margin-bottom: 15px;
}
/*dialog样式*/
.el-dialog{
    min-width: 530px;
    border-radius: 5px;
    font-family: '微软雅黑';
}
 
.el-dialog__header .el-dialog__title {
    font-size: 15px;
    font-weight: bold;
    color: #1e2329;
  }
  .el-dialog__header ,.el-dialog__footer{
    padding: 15px !important;
  }
  .el-dialog__headerbtn {
    top: 16px;
  }
  .el-dialog .el-dialog__body {
    padding: 8px 24px 20px;
    border-top: 1px solid #e6ecf5;
    border-bottom: 1px solid #e6ecf5;
  }
  .el-dialog__headerbtn .el-dialog__close {
  transition: all 0.3s;
  font-weight: bold;
}
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  transform: rotate(90deg);
}
.el-dialog .el-form-item__label {
  color: #1f2329;
}