$--color-primary: #2E8661;
$--color-warning: #F99C31;
$vxe-table-row-height-default: 48px;
$vxe-table-row-height-medium: 44px;
$vxe-table-row-height-small: 40px;
$vxe-table-row-height-mini: 36px;
$vxe-table-row-line-height: 24px;
// 局部修改主题色
$vxe-primary-color: #1884CC;